@import "./variables";
@import "./mixins";
@import "./resets";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#cd-header{
    
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    z-index: 100;
}

#cd-nav{
    display: inline-block;
    background-color: $white;
    box-shadow: 0 0 16px rgba(101, 101, 101, 0.25);
    padding: 5px;
    border-radius: 30px;

    &-items{
        li{
            border-radius: 30px;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4){
                margin-top: 5px;
            }
        }
        @include desktop{
            display: flex;
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4){
                    margin-top: 0;
                }
            
        }
    }
}
.nav-link{
    @include flex-vertical;
    text-decoration: none;       
    position: relative;
    padding: 18px;
    text-decoration: none;
    color: $text-color;
    & i{
        width: 24px;
        height: 24px;
        & svg {
            fill: $text-color;
        }
    }
    & span{
        margin-left: 16px;
        font-size: 18px;
    }
    &:hover{
        background-color: lighten($color: $black, $amount: 95);
    }       
    &:active,&-active{
        color: $primary;
        & > i > svg{
            fill: $primary;
        }
        background-color: lighten($color: $black, $amount: 95);
    }
    
}
.btn{
    border:none;
    outline:none;
    cursor: pointer;
    background: none;
}
.icon-btn{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: none;
    &:active{
        & svg{
            fill: $primary;
        }
    }
    &:hover{
        background-color: lighten($color: $black, $amount: 90);
    }
    &::after{
        @include desktop {
            opacity: 0;
            content: attr(data-link-name);
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            font-size: 12px;
            color:$white;
            background-color: $primary;
            padding: 4px 14px;
            border-radius: 100px;
            transform: translateY(54px);
            box-shadow: 0 0 16px rgba(101, 101, 101, 0.25);
            transition: top .7s cubic-bezier(0.19, 1, 0.22, 1);
        }            
    } 
    
}
.profile{
    width: 52px;
    height: 52px;
    background-color: chocolate;
    box-shadow: 0 0 16px rgba(101, 101, 101, 0.25);
    border-radius: 40px;
}



// ************Admin***********

#adm{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 70px calc(100vh - 70px);
    grid-template-areas: "header header"
    "main main";
   
    &-header{
        background-color: $dirty-white;
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        & > h3{
            color:$text-color;
            font-weight: 700;
            & > span{
                font-weight: 500;
            }
        }
    }
    &-container{
        grid-area: main;
        display: grid;
        grid-template-columns: 300px 1fr;
    }
    & #side-nav{
        margin-top: 10px;
    }
    &-nav{
        width: 80%;
        margin: 0 auto;
    }
}